name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # or whichever branch you upload your files to

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./your-folder  # folder with your noVNC files
